# What is pandas?

pandas is one of the most popular open source data exploration libraries currently available. It gives its users the power to explore, query, transform, aggregate, and visualize **tabular** data. Tabular refers to data that is two-dimensional, consisting of rows and columns. Commonly, we refer to this organized structure of data as a **table**. pandas is the tool that we will use to analyze data in nearly every chapter of this book.

![1]

## Why pandas and not xyz?

In this current age of data explosion, there are now dozens of other tools that have many of the same capabilities as the pandas library. However, there are many aspects of pandas that make it an attractive choice for data analysis and it continues to have one of the fastest growing user bases.

* It's a Python library and integrates well with the other popular data science libraries such as numpy, scikit-learn, statsmodels, matplotlib, and seaborn.
* It is nearly self-contained in that lots of functionality is built into one package. This contrasts with R, where many packages are needed to obtain the same functionality.
* The community is excellent. Looking at Stack Overflow, for example, there are [many ten's of thousands of][2] pandas questions. If you need help, you are nearly guaranteed to find it quickly. 

### Why is it named after an East Asian bear?

The pandas library was begun by Wes McKinney in 2008 while working at the hedge fund AQR. In the financial world, it is common to refer to tabular data as 'panel data' which smashed together becomes pandas. If you are really interested in the history, hear it from the creator [himself][3].

### Python already has data structures to handle data, why do we need another one?

Even though Python is a high-level language, its primary built-in data structure to contain a sequence of values, lists, are not built for scientific computing. Lists are a general purpose data structure that can store any object of any type and are not optimized for tabular data analysis. Python lacks a built-in data structure that contains homogeneous data types for fast numerical computation. This data structure, usually referred to as an 'array' in most languages, is provided by the numpy third-party library.

### pandas is built directly on numpy

[numpy][4] ('numerical Python') is the most popular third-party Python library for scientific computing and forms the foundation for dozens of others, including pandas. numpy's primary data structure is an n-dimensional array which is much more powerful than a Python list and with much better performance for numerical operations.

All of the data in pandas is stored in numpy arrays. That said, it isn't necessary to know much about numpy when learning pandas. You can think of pandas as a higher-level, easier to use interface for doing data analysis than numpy. It is a good idea to eventually learn numpy, but for most data analysis tasks, pandas will be the right tool.

## pandas operates on tabular data

There are numerous formats for data, such as XML, JSON, CSV, Parquet, raw bytes, and many others. pandas has the capability to read in many different formats of data and always converts it to tabular form. pandas is built just for analyzing this rectangular, deceptively normal concept of data. pandas is not a suitable library for handling data in more than two-dimensions. It's focus is strictly on data that is one or two dimensions.

### The DataFrame and Series

The DataFrame and Series are the two primary pandas objects that we use throughout this book.

* **DataFrame** - A two-dimensional data structure that looks like any other rectangular table of data with rows and columns.
* **Series** - A single dimension of data. It is analogous to a single column of data or a one-dimensional array.

## pandas examples

The rest of this chapter contains examples of common data analysis tasks with pandas. There are one or two examples from each of the following major areas of the library:

* Reading data
* Filtering data
* Aggregating methods
* Non-Aggregating methods
* Aggregating within groups
* Cleaning data
* Joining data
* Time series analysis
* Visualization

The goal is to give you a broad overview of what pandas is capable of doing. You are not expected to understand the syntax, but rather, get a few ideas of what you can expect to accomplish when using pandas. Explanations will be brief, but hopefully provide just enough information so that you can understand the end result.

### The `head` method

Many of the last lines of code end with the `head` method. By default, this method returns the first five rows of the DataFrame or Series that calls it. The purpose of this method is to limit the output so that it easily fits on a screen or page in a book. If the `head` method is not used, then pandas displays the first and last 5 rows of data by default (or all the rows if the DataFrame has 60 or less). To reduce output even further (to save space on the screen), an integer (usually 3) will be passed to the `head` method. This integer controls the number of rows returned.

## Which pandas version to use?

The pandas library is under constant development and regularly releases new versions. Currently, pandas is on major version **1**, which was released in January, 2020. Before major version 1, pandas was on version **0**. Python libraries use the form **a.b.c** for version numbering where **a** represents the **major** version number. It is increased whenever there are major changes, with some being backward incompatible. **b** represents the **minor** version number and is incremented for smaller backward-compatible changes and enhancements. **c** represents the **micro** version number and is incremented mainly for bug fixes.

Often, only the major and minor version are written when speaking about the version of pandas as the micro version isn't all that important. pandas has a history of releasing around two or three minor versions per year. In order to run all of the code in this book, you need to be running **pandas 1.0** or greater.

### Import pandas and verify version number

Let's import pandas and verify it's version by accessing the special attribute `__version__`. If you are running any version of pandas less than 1.0 (such as 0.25 or below), then you'll need to exit the Jupyter Notebook, return to the command line and run `conda update pandas`.

[1]: images/pandas_logo.png
[2]: http://stackoverflow.com/questions/tagged/pandas
[3]: https://www.youtube.com/watch?v=kHdkFyGCxiY
[4]: http://www.numpy.org/

In [ ]:
import pandas as pd
pd.__version__

## Reading data

Multiple datasets are used during the rest of this chapter. The `read_csv` function is able to read in data stored in plain text that is separated by a delimiter. By default, the delimiter is a comma. Below, we read in public bike usage data from the city of Chicago into a pandas DataFrame named `bikes`.

In [ ]:
bikes = pd.read_csv('../data/bikes.csv')
bikes.head(3)

## Filtering data

pandas can filter the rows of a DataFrame based on whether the values in that row meet a condition. For instance, we can select only the rides that had a `tripduration` greater than 5,000 (seconds).

### Single Condition

This example is a single condition that gets tested for each row. Only the rows that meet this condition are returned.

In [ ]:
filt = bikes['tripduration'] > 5000
bikes[filt].head(3)

### Multiple Conditions

We can test for multiple conditions in a single row. The following example returns rides by females **and** have a `tripduration` greater than 5,000.

In [ ]:
filt1 = bikes['tripduration'] > 5000
filt2 = bikes['gender'] == 'Female'
filt = filt1 & filt2
bikes[filt].head(3)

The next example has multiple conditions but only requires that one of the conditions is true. It returns all the rows where either the rider is female **or** the `tripduration` is greater than 5,000.

In [ ]:
filt = filt1 | filt2
bikes[filt].head(3)

### Using the `query` method

The `query` method provides an alternative and often more readable way to filter data than the above. All three filtering examples from above may be duplicated with `query`. A string representing the condition is passed to the `query` method to filter the data.

In [ ]:
bikes.query('tripduration > 5000').head(3)

In [ ]:
bikes.query('tripduration > 5000 and gender=="Female"').head(3)

In [ ]:
bikes.query('tripduration > 5000 or gender=="Female"').head(3)

## Aggregating methods

The technical definition of an **aggregation** is when a sequence of values is summarized by a **single** number. For example, `sum`, `mean`, `median`, `max`, and `min` are all examples of aggregation methods. By default, calling these methods on a pandas DataFrame applies the aggregation to each column. Below, we use a dataset containing San Francisco employee compensation information. Only a subset of the columns are initially read into the DataFrame.

In [ ]:
cols = ['salaries', 'overtime', 'other salaries', 'retirement', 'health and dental']
sf_emp = pd.read_csv('../data/sf_employee_compensation.csv', usecols=cols)
sf_emp.head(3)

Calling the `mean` method returns the mean of each column. The result is then rounded to the nearest thousand.

In [ ]:
sf_emp.mean()

pandas allows you to aggregate rows as well. The `axis` parameter may be used to change the direction of the aggregation. This returns the total compensation for each employee.

In [ ]:
sf_emp.sum(axis=1).head(3)

## Non-aggregating methods

There are methods that perform some calculation on the DataFrame that do not aggregate the data and usually preserve the shape of the DataFrame. For example, the `round` method rounds each number to a given decimal place. Here, we round each value in the DataFrame to the nearest thousand.

In [ ]:
sf_emp.round(-3).head(3)

## Aggregating within groups

Above, we performed aggregations on the entire DataFrame. We can instead perform aggregations within groups of the data. Below we use an insurance dataset.

In [ ]:
ins = pd.read_csv('../data/insurance.csv')
ins.head(3)

One of the simplest aggregations is the frequency of occurrence of all the unique values within a single column. This is performed below with the `value_counts` method.

### Frequency of unique values in a single column

Here, we count the occurrence of each individual `region`.

In [ ]:
ins['region'].value_counts()

### Single aggregation function

Let's say we wish to find the mean charges for each of the unique values in the `sex` column. The `groupby` method creates groups based on the given grouping column before applying the aggregation. In this example, we return the mean charges for each sex.

In [ ]:
ins.groupby('sex').agg(mean_charges=('charges', 'mean')).round(-3)

### Multiple aggregation functions

pandas allows us to perform multiple aggregations at the same time. Below, we calculate the mean and max of the `charges` column as well as count the number of non-missing values.

In [ ]:
ins.groupby('sex').agg(mean_charges=('charges', 'mean'),
                       max_charges=('charges', 'max'),
                       count_charges=('charges', 'count')).round(0)

### Multiple grouping columns

pandas allows us to form groups based on multiple columns. In the below example, each unique combination of `sex` and `region` form a group. For each of these groups, the same aggregations as above are performed on the `charges` column.

In [ ]:
ins.groupby(['sex', 'region']).agg(mean_charges=('charges', 'mean'),
                                   max_charges=('charges', 'max'),
                                   count_charges=('charges', 'count')).round(0)

### Pivot Tables

We can reproduce the exact same output as above in a different shape with the `pivot_table` method. It groups and aggregates the same way as `groupby`, but places the unique values of one of the grouping columns as the new columns in the resulting DataFrame. Notice that pivot tables make for easier comparisons across groups.

In [ ]:
pt = ins.pivot_table(index='sex', columns='region', 
                     values='charges', aggfunc='mean').round(0)
pt

### Styling DataFrames

pandas enables you to style DataFrames in various ways to provide emphasis on particular cells. Below, the maximum value of each column is highlighted, a comma is added to separate the digits, and decimals are removed.

In [ ]:
pt.style.highlight_max().format(r'{:,.0f}')

## Cleaning data

Many datasets need to be cleaned before analyzed. pandas provides many tools to prepare data for further analysis.

### Options in the `read_csv` function

Below, we read in a new dataset on plane crashes. Notice all the question marks. They represent missing values, but pandas will read them in as strings.

In [ ]:
pc = pd.read_csv('../data/tidy/planecrashinfo.csv')
pc.head(3)

The `read_csv` function has dozens of options to help read in messy data. One of the options allows you to convert a particular string to missing values. Notice that all of the question marks are now labeled as `NaN` (not a number).

In [ ]:
pc = pd.read_csv('../data/tidy/planecrashinfo.csv', na_values='?')
pc.head(3)

### String manipulation

Often times there is data trapped within a string column that you will need to extract. The `aboard` column appears to have three distinct pieces of information; the total number of people on board, the number of passengers, and the number of crew.

In [ ]:
aboard = pc['aboard']
aboard.head()

pandas has special functionality for manipulating strings. Below, we use a regular expression to extract the pertinent numbers from the `aboard` column.

In [ ]:
aboard.str.extract(r'(\d+)?\D*(\d+)?\D*(\d+)?').head()

### Reshaping into tidy form

Occasionally, you will have several columns of data that all belong in a single column. Take a look at the DataFrame below on the average arrival delay of airlines at different airports. All of the columns with three-letter airport codes could be placed in the same column as they all contain the arrival delay which has the same units.

In [ ]:
aad = pd.read_csv('../data/tidy/average_arrival_delay.csv').head()
aad

The `melt` method stacks columns one on top of the other. Here, it places all of the three-letter airport code columns into a single column. The first two airports (ATL and DEN) are shown below in the new tidy DataFrame.

In [ ]:
aad.melt(id_vars='airline', var_name='airport', value_name='delay').head(10)

## Joining Data

pandas can join multiple DataFrames together by matching values in one or more columns. If you are familiar with SQL, then pandas performs joins in a similar fashion. Below, we make a connection to a database and read in two of its tables.

In [ ]:
from sqlalchemy import create_engine
engine = create_engine('sqlite:///../data/databases/neurIPS.db')
authors = pd.read_sql('Authors', engine)
pa = pd.read_sql('PaperAuthors', engine)

Output the first three rows of each DataFrame.

In [ ]:
authors.head(3)

In [ ]:
pa.head(3)

We can now join these tables together using the `merge` method. The `AuthorID` column from the `pa` table is aligned with the `Id` column of the `authors` table.

In [ ]:
pa.merge(authors, how='left', left_on='AuthorId', right_on='Id').head(3)

## Time Series Analysis

One of the original purposes of pandas was to do time series analysis. Below, we read in 20 years of Microsoft's closing stock price data.

In [ ]:
msft = pd.read_csv('../data/stocks/msft20.csv', parse_dates=['date'], index_col='date')
msft.head()

### Select a period of time

pandas allows us to easily select a period of time. Below, we select all of the trading data from February 27, 2017 through March 2, 2017.

In [ ]:
msft['2017-02-27':'2017-03-02']

### Group by time

We can group by some length of time. Here, we group together every month of trading data and return the average closing price of that month.

In [ ]:
msft_mc = msft.resample('M').agg({'close':'mean'})
msft_mc.head(3)

## Visualization

pandas provides basic visualization abilities by giving its users a few default plots. Below, we plot the average monthly closing price of Microsoft for the last 20 years.

In [ ]:
import matplotlib.pyplot as plt
plt.style.use('../../mdap.mplstyle')
msft_mc.plot(kind='line');

Below, we create a box plot of the average arrival delay by airport.

In [ ]:
aad.plot(kind='box');

The pivot table of average insurance cost by region and sex is made into a bar graph.

In [ ]:
pt.plot(kind='bar', rot=0).legend(bbox_to_anchor=(1, 1), loc='upper left');

## Much More

This chapter contained a small sampling from many of the major sections of the pandas library. The rest of the book focuses on going into great detail on how to effectively use the pandas library to complete nearly any kind of data analysis.